@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lobster', cursive;
}
.about-us{
    background: white;
}
.box{
    width: 500px;
}
.box{
    background: black;
}
.photo img{
    width: 100%;
}
p{
    color: rgb(255, 255, 255);
    font-size: 24px;
}
h1{
    color: white;
}
h2{
    text-align:center ;
    color: white;
}
.box{
    padding: 0px;
}
.box{
    margin: 45px 0;
}